@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600&display=swap');


:root{
    --yellow: #F9A826;
    --blue: #536DFE;
    --red: #F50057;
    --lightBlue:#00BFA6;
    --sky:#00B0FF;
    --green: #00FF84;
    --primary-gradient: linear-gradient(to right, #4e4376, #2b5876);
    --mango-gradient : linear-gradient(to right, #ffa751, #ffe259);
    --text-color: #F7F9F9;
    --Montserrat: "Montserrat", cursive;
    --Lobster: "Lobster", cursive;
    --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
    --border-color: rgba(0,0,0,0.329);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #fff;
    min-height: 100vh;
}
/*-------- Navigation Bar--------*/
header{
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    z-index: 1000;
}
.logo{
    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding-left: 30px;
    font-family: 'Poppins' , sans-serif;
}
#toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #12334e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s; 
}
#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}
#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
#toggle.active{
    background: #f7226a;
}
#navbar{
    position: absolute;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
    margin-top: -60px;
}
#navbar.active{
    width: 660px;
}
#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    color: #12334e;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
     font-size: 1.2em;
     padding: 0 15px;
     letter-spacing: 2px;
}
#navbar ul li a:hover{
    color: #fff;
    background: #12334e;
}
@media (max-width: 991px){
    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbar.active{
        height: calc(100vh - 70px);
        bottom: 0;
        width: 100%;
    }
    #navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/*----- Navigation Bar End------*/

.home{
    position: relative;
    display: flex;
    background: url(../Picture/HomePage/HomePageBackground.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100vh;
    background-position-x: center;
}
.home-text{
    position: relative;
    min-height: 487px;
    justify-content: center;
    align-items:center;
    padding: 10px;
    overflow: visible;
    color: #12334e;
    padding: 20px;
}
.home-text h1{
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 0;
    line-height: 50px;
}
.home-text h2{
    margin-top: 0px;
    text-transform: uppercase;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight:400;
    font-size: 1.2em;
}
.home-text h3{

    margin-top: 40px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size:3em;
    margin-bottom: 0;
}
.home-text h4{
    margin-top: 40px;
    font-family: cursive;
    font-size: 1em;
    font-weight: 700;
    text-align: left;
}
.home-text h5{
    margin-top: 0;
    font-family: cursive;
    font-size: 1.8em;
    font-weight: 400;
    text-align: left;
}
@media screen and (max-width:470px){
    .home-text h1{
        font-size: 2.3em;
    }
    .home-text h2{
        font-size: 1em;
    }
    .home-text h3{
        font-size:2.3em;
    }
}
.home-social ul{
    position: relative;
    display: flex;
}
.home-social ul li{
    list-style: none;
    margin-right: 15px;
}
.home-social ul li a{
    text-decoration: none;
}
.home-social ul li a img{
    position: relative;
    height: 23px;
    width: 23px;
}

.sli-text{
    font-family: 'Poppins', sans-serif;
    color: #12334e;
    text-align: center;
    min-height: 100px;
}
.sli-text h3{
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
}
.sli-text p{
    font-size: 1em;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    padding-left: 60px;
    padding-right: 70px;
}
.home-img1{
    position: relative;
    height: auto;
    width: auto;
    min-height: 350px;
    min-width: 400px;
    max-height: 800px;
    max-width: 800px;
    background: url(../Picture/HomePage/SliderPic1.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    border-radius: 10px;
}
.home-img2{
    position: relative;
    height: auto;
    width: auto;
    min-height: 350px;
    min-width: 400px;
    max-height: 800px;
    max-width: 800px;
    background: url(../Picture/HomePage/SliderPic2.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    border-radius: 10px;
}
.home-img3{
    position: relative;
    height: auto;
    width: auto;
    min-height: 350px;
    min-width: 400px;
    max-height: 800px;
    max-width: 800px;
    background: url(../Picture/HomePage/SliderPic3.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    border-radius: 10px;
}
@media screen and (max-width:500px){
    .home-img1{
        height: auto;
        width: auto;
        margin-top: 50px;
        min-height: 300px;
        min-width: 200px;
        max-height: 800px;
        max-width: 800px;
    }
    .home-img2{
        height: auto;
        width: auto;
        margin-top: 30px;
        min-height: 300px;
        min-width: 200px;
        max-height: 800px;
        max-width: 800px;
    }
    .home-img3{
        height: auto;
        width: auto;
        min-height: 300px;
        min-width: 200px;
        max-height: 800px;
        max-width: 800px;
    }
}